{% extends "layout.html" %}
  
{% block y %}

   <div class="title-container">
      <div class="typewriter">
         <h1 class="title-about">Sobre Cleverson</h1>
      </div>
   </div>

  <!-- <div class="img-container">
      <img src="/static/imgs/Icleverson.jpg" alt="Icleverson" class="perfil-img">
   </div> -->

   <div class="about-container">


      <h2>Olá mundo! <img src="https://cdn3.emoji.gg/emojis/8969-parrotvibe.gif" alt="emoji" class="emoji"></h2>

      <p>
         <strong>Hello!</strong>, eu sou o <strong>Cleverson</strong>, e atualmente, em 2024, tenho 19 anos. 
         Sou apaixonado por tecnologia desde que me entendo por gente.
         
      </p>
      <p>
         Gosto de programar em Python (inclusive, este site é feito em Python/Flask!), 
         mas também sei outras linguagens como JavaScript, 
         C++ para Arduino, um pouco de PHP e tenho um conhecimento básico de Java.
         <img src="https://cdn3.emoji.gg/emojis/9386_thumbsupparrot.gif" alt="emoji" class="emoji">
      </p>
      <p>
         Minha paixão por tecnologia vai além do desenvolvimento de software; 
         também me interesso por eletrônica nos meus momentos livres.
      </p>
      <p>
         Minha jornada no mundo da tecnologia teve início em 2018, quando aos 14 anos ganhei um 
         <strong><a href="https://www.arduino.cc/en/Guide/Introduction">Arduino</a></strong> do meu pai. 
         Com o desejo de criar um braço robótico utilizando alguns servomotores, 
         fios, papelão e cola, senti a necessidade de aprender a programar. 
         Foi assim que tive meu primeiro contato com uma linguagem de programação, utilizando o Arduino, que é baseado em 
         <strong><a href="https://pt.wikipedia.org/wiki/C%2B%2B">c++</a></strong> (com pequenas modificações). 
         E nesse período comecei aprender muito sobre logica de programação com muito tutoriais na internet e tentativa e 
         erros (sim, aprendi a programar sem esses cursos de coach que promete ganhar milhões com 6 meses de cursos).
         <img src="https://cdn3.emoji.gg/emojis/9588-gigachad.png" alt="emoji" class="emoji">
      </p>
      <p>
         Em 2023, participei de um evento promovido pelo Sebrae 
         (<a href="https://www.desafioligajovem.com.br/edicao-2023/">Desafio Liga Jovem</a>) em São Paulo, 
         onde eu e minha equipe desenvolvemos um dispositivo inovador proporcionando alertas antecipados de 
         enchentes por meio de mensagens de texto (SMS) usando tecnologia 
         <a href="https://www.tecmundo.com.br/celular/1653-o-que-e-gsm-.htm">GSM</a>, 
         além de um website para monitoramento do nível de rios em tempo real. Infelizmente não ganhamos, 
         mas fomos semifinalista. 
      </p>
      <p>
         <img src="https://i.imgur.com/jRPRogQ.jpeg" alt="imagem do evento" class="img-event">
      </p>
      <p>
         No mesmo ano, dei meus primeiros passos como freelancer em programação, 
         focando no desenvolvimento front-end com HTML, CSS e PHP. 
         Mesmo breve, essa oportunidade me proporcionou valiosos aprendizados para minha jornada na tecnologia. 
      </p>
      <p>
         Bom, criei esse mine espaço onde posso falar tudo aquilo que venho aprendendo/vendo sobre tecnologia. 
         Espero que você se sinta bem-vindo(a) e aproveite ao máximo cada postagem.
         <img src="https://cdn3.emoji.gg/emojis/3933-tocaaqui.gif" alt="emoji" class="emoji">
      </p>
   </div>
{% endblock %}

