[Unit]
Description=My Docker Application
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=/usr/local/bin/docker-compose -f /var/www/blog/docker-compose.yml up
ExecStop=/usr/local/bin/docker-compose -f /var/www/blog/docker-compose.yml down

[Install]
WantedBy=multi-user.target