{% extends "layout.html" %}
  
{% block y %}

   {% include 'components/alert.html'%}

   <div class="container-editor">
      <h1>Publicar novo conteúdo</h1>
      
      <div class="div-title">
         <label for="title">titulo</label>
         <input type="text" id="title" name="title" placeholder="titulo" value="{{title}}" required>
      </div>
      
      <label for="editor">corpo do conteúdo</label>
      <div class="editor-component">
         <button id="expandButton">
            <svg xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" fill="none" viewBox="0 0 48 48">
               <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="4" d="M33 6h9v9M42 33v9h-9M15 42H6v-9M6 15V6h9"></path>
            </svg>
         </button>
         
         <textarea name="markdown-content" id="markdown-content" required>{{body}}</textarea>

         <div id="html-preview"></div>
      </div>

      <label for="description">descrição</label>
      <textarea name="description" id="description">{{description}}</textarea>

      <div class="div-buttons">
         {% if status == 'draft'%}
            <input type="button" class="bt-update" value="atualizar" onclick="updateButton('{{id}}')">
            <input type="button" class="bt-publish" value="publicar" onclick="updateButton('{{id}}', true)">
         {% elif status == 'published'%}
            <input type="button" class="bt-hide" value="ocultar" onclick="updateButton('{{id}}')">
            <input type="button" class="bt-update" value="atualizar" onclick="updateButton('{{id}}', true)">
         {% else %}
            <input type="button" class="bt-draft" name="salvar" value="salvar" onclick="draftButton()">
            <input type="button" class="bt-publish" value="publicar" onclick="publish()">
         {% endif %}
      </div>
   </div>

   <script type="text/javascript" src="{{ url_for('static',    filename='js/markdownEditor.js') }}"></script>
   <script type="text/javascript" src="{{ url_for('static',    filename='js/editorButton.js') }}"></script>
   <script type="text/javascript" src="{{ url_for('static',    filename='js/expandButton.js') }}"></script>
{% endblock %}