<!DOCTYPE html>
  
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">

        {% if title != None %}
            <title>{{title}}</title>
        {%else%}
            <title>this_is_cleverson</title>
        {% endif %}

        <meta property="og:site_name" content="this_is_cleverson">
        <meta name="description" content="{{description}}">
        <meta property="og:type" content="article">

        <meta property="og:title" content="{{title}}">
        <meta property="og:description" content="{{description}}">
        <meta property="og:url" content="https://cleverson.online/{{slug}}">
        <meta property="og:image" content="{{ url_for('static', filename='imgs/thisiscleverson.jpg') }}">

        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:title" content="{{title}}">
        <meta name="twitter:description" content="{{description}}">
        <meta property="twitter:url" content="https://cleverson.online/{{slug}}">
        <meta name="twitter:image" content="{{ url_for('static', filename='imgs/thisiscleverson.jpg') }}">
        
        <link rel="icon" href="{{ url_for('static', filename='icons/linux.ico') }}" type="Linux icon">
        <link rel="stylesheet" href="{{ url_for('static',    filename='css/reset.css') }}">
        <link rel="stylesheet" href="{{ url_for('static',    filename='css/style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static',    filename='css/markdown.css') }}">
        <link rel="stylesheet" href="{{ url_for('static',    filename='css/ads.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css">
        
        <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    </head>
    <body>
        {% include 'components/header.html' %}
        <main>
            <div class="wrapper">
                {% block y %}{% endblock %}
            </div>
        </main>
        {%  include 'components/footer.html' %}
    </body>
    <script type="text/javascript" src="{{ url_for('static',    filename='js/btCloseAlert.js') }}"></>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>
</html>