
<footer>
   <div class="wrapper">
      <div class="social-media">
         <a href="https://github.com/thisiscleverson" target="_blank" rel="noopener noreferrer">GitHub</a>
        <!--  <a href="mailto:cleverson.silva.contact@gmail.com" target="_blank" rel="noopener noreferrer">Email</a> -->
         <a href="https://linkedin.com/in/cleverson-silva" target="_blank" rel="noopener noreferrer">Linkedin</a>
         <a href="https://tabnews.com.br/Cleverson" target="_blank" rel="noopener noreferrer">TabNews</a>
         <a href="https://twitter.com/cl3verson3_" target="_blank" rel="noopener noreferrer">𝕏</a>
      </div>
   </div>
</footer>