{% extends "layout.html" %}
  
{% block y %}
   <div class="container">

      {% include 'components/alert.html'%}

      <form action="/register" method="POST" class="card">
         <h1> Novo registro </h1>  
         <label for="username">nome de usuário</label>
         <input placeholder="nome de usuário" autocomplete="off" type="text" id="username" name="username">
         <label for="password">senha</label>
         <input placeholder="senha" autocomplete="off" type="password" id="password" name="password">
         <div>
            <input type="checkbox" name="show-password" id="show-password">
            <label for="show-password">mostrar senha</label>
         </div>
         <input type="submit" name="Register" id="bt-submit" value="login">
      </form>
   </div>
   <script type="text/javascript" src="{{ url_for('static',    filename='js/showPassword.js') }}"></script>
{% endblock %}